*{
  margin:0;
  padding: 0;
  outline: none;
  border: none;
}
body{
  font-size: 18px;
  line-height: 1.65;
  font-family: serif;
}
h1,h2,h3,h4{
  font-family: sans-serif;
  letter-spacing: -0.1rem;
}
h1{
  font-size: 5vmin;
}
h2{
  font-size: 3vmin;
}
h3{
  font-size: 2vmin;
}
h4{
  font-size: 1.5vmin;
}
